/* * {
    border: 1px solid lightseagreen;
}*/

main {
    display: flex;
    flex-direction: row;
}

.leftmain {
    width: 50%;
}

.rightmain {
    width: 50%;
}
header {
    width: 100%;
}

.deposits {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.mortgages {
    display: flex;
    flex-direction: column;
    width: 25%;
}